:root {
    --main-color: #434455;
    --link-color: #2e2f42;
    --logo-color: #4d5ae5;
    --span-color: #2e2f42;
    --contact-color: #434455;
}

body.main {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 600px;
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    margin-left: o;
}

h1 {
    margin-top: 0;
  margin-bottom: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block
}
/* site nav */
.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-headder {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 76px
}
.nav {
    display: flex;
    align-items: center;
}
.header {
    border: 1px solid #ECECEC;
    background-color: #fff;
    display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

.headder-wrapper {
    display: flex;
    gap: 40px
}
.link {
    text-decoration: none;
}
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color, #4d5ae5);
}
.link-header {
    color: var(--navyblue, #2E2F42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17
}

.list {
    list-style: none;
    margin-top: 120px;
    margin-bottom: 120px;
    column-count: 4; 
    column-gap: 24px
}

.list li {
    break-inside: avoid;
    text-align: justify;
}

.hedder-menu {
    list-style: none;
    padding: 24px 0 24px;
}
.list-item {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: 40px; 
}
.list-item:hover {
    color: #404bbf;
}

.list-item:focus{
    color: #404bbf;
}
.nav-link {
    color: #2e2f42;display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 0.3s ease;
}

.nav-link:focus {
    color: #404bbf;
}

.nav-link:hover {
    color: #404bbf;
}

.adress-list {
    display: flex;
    gap: 40px 
}
.contact-list {
    list-style: none;
}
.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link {
    text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* main */
.hero-div {
    text-align: center
}
.hero{
    background-color: #2e2f42;
    padding: 188px 0;

}
.hero-text {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.hero-button:hover {
    background: var(--ocean, #404BBF);
}
.hero-button:focus {
    background: var(--ocean, #404BBF);
}

/* section two */
.section-two {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-two-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.section-two-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* section 3 */
.section-three{
    width: 1440px;
    height: 2592px;
}
.section-three-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* section 4 */
.section-our-team {
    background: var(--cloud, #F4F4FD);
}

.section-four-tile {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-team {
    background-color: #FFFFFF;
}

.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
/* footer */
.footer {
    background: var(--navyblue, #2E2F42);
    flex-direction: column;
}

.link-footer {
    color: var(--cloud, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.text-footer {
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* portfolio */
body.portfolio {
    color: #434455;
    font-family: "Roboto", sans-serif;
}
.portfolio-buuton {
    overflow: hidden;
    float: left;
    margin-right: 24px;
    justify-content: center;
    padding-top: 96px;
    margin-bottom: 72px;
}
.button-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color:#F4F4FD;
    cursor: pointer;
    display: block;
    padding: 4px;
    
}

.button-portfolio:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-portfolio:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}